[defaults]
collections_path=/home/ansible/imran/collections
roles_path=/home/ansible/imran/roles:/usr/share/ansible/roles
remote_user=ansible
ask_pass=false
inventory=/home/ansible/imran/inventory

[privilege_escalation]
become=true
become_method=sudo
become_user=root
become_ask_pass=false
